header {
	background-color: #F1F1F1;
	padding: 30px;
	text-align: center;
}

header h1 {
	display: block;
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 0.1em;
	margin-bottom: 0.5em;
}

header p {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 2.3em;
}

nav {
	background-color: #2A3239;
	overflow: hidden;
	height: 48px;
}

nav.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

nav.sticky + main {
	margin-top: 60px;
}

nav * {
	margin: 0;
	padding: 14px 16px;
	height: 48px;
}

#menu-bars {
	height: 20px;
	width: 25px;
	display: none;
}

@media screen and (max-width: 650px) {
	nav a:not(.active), nav div.dropdown:not(.active), nav p {
		display: none;
	}
	#menu-bars {
		display: block;
		float: right;
	}
	nav.open {
		position: relative;
		height: auto;
	}
	nav.open.sticky {
		position: fixed;
	}
	nav.open #menu-bars {
		position: absolute;
		right: 0;
		top: 0;
	}
	nav.open a, nav.open p {
		float: none;
		display: block;
		text-align: left;
		height: 1em;
	}
	nav.open div.dropdown {
		float: none;
		display: block;
		text-align: left;
		height: auto;
	}
	nav.open div.dropdown div.dropdown-content {
		display: flex;
		flex-direction: column;
		position: relative;
		box-shadow: none;
		padding: 0 0 7px 3em;
	}
}

nav a {
	float: left;
	display: block;
	color: #BFC2C4;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	transition: color 0.3s ease-out;
}

nav a:hover {
	color: white;
}

nav a.active {
	background-color: #0074D9;
	color: white;
}

nav .right {
	float: right;
}

nav p {
	color: #F2F2F2;
	font-size: 17px;
	font-style: italic;
}

nav span.username {
	font-weight: bold;
	color: #0074D9;
	padding: 0;
}

nav div.dropdown {
	float: left;
	display: block;
	padding: 0;
}

nav div.dropdown button.dropdown {
	background-color: inherit;
	color: #BFC2C4;
	font: inherit;
	padding: 14px 16px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	border: none;
	transition: color 0.3s ease-out;
}

nav div.dropdown button.dropdown:hover {
	color: white;
}

nav div.dropdown button.dropdown.active {
	background-color: #0074D9;
	color: white;
}

nav div.dropdown div.dropdown-content {
	display: none;
	position: absolute;
	padding: 2px;
	background-color: #2A3239;
	min-width: 160px;
	height: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

nav div.dropdown:hover div.dropdown-content {
	display: flex;
	flex-direction: column;
}

nav div.dropdown div.dropdown-content a {
	float: none;
	flex: 1;
	padding: 7px 16px;
	cursor: pointer;
	text-align: left;
}
