form.register-login input[type=text], form.register-login input[type=password],
form.register-login input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #CCC;
	box-sizing: border-box;
}

form.register-login button {
	background-color: #0074D9;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

form.register-login button:hover {
	opacity: 0.8;
}

form.register-login label {
	font-weight: bold;
}

form.register-login label.nobold {
	font-weight: normal;
}

main div.formfooter {
	position: relative;
	left: -16px;
	bottom: -16px;
	padding: 16px;
	width: 100%;
	background-color: #F1F1F1;
	text-align: center;
}

#register-form span[id^=validatorfor-] {
	display: none;
	background-color: #C22;
	color: white;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 5px;
	margin-bottom: 10px;
	opacity: 0.8;
	-webkit-animation: animatescale 0.8s;
	animation: animatescale 0.8s;
}

@-webkit-keyframes animatescale {
	from {-webkit-transform: scaleY(0)}
	to {-webkit-transform: scaleY(1)}
}

@keyframes animatescale {
	from {transform: scaleY(0)}
	to {transform: scaleY(1)}
}
