main table {
	max-width: 1300px;
	border: 1px solid #0074D9;
	border-radius: 0 0 20px 20px;
	border-top: 0;
}

main table caption {
	font-size: 2em;
	line-height: 2em;
	font-weight: bold;
	color: white;
	background-color: #0074D9;
	border-radius: 20px 20px 0 0;
}

main table tr td, main table tr th {
	border: 1px solid #0074D9;
	padding: 8px;
}

main table thead {
	background-color: #2A3239;
	color: white;
}

main table tfoot {
	font-style: italic;
}

main table tfoot tr:last-child td:first-child {
	border-bottom-left-radius: 20px;
}

main table tfoot tr:last-child td:last-child {
	border-bottom-right-radius: 20px;
}

main table tr td div.table-navbar a {
	display: inline-block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color 0.3s;
}

main table tr td div.table-navbar a.active {
	background-color: #0074D9;
	cursor: default;
	color: white;
}

main table tr td div.table-navbar a:hover:not(.active) {
	background-color: #DDD;
}
