main table {
	border-collapse: separate;
	max-width: 1000px;
	background-color: #EEE;
}

main table tr td {
	overflow: hidden;
	width: 1%;
}

main table td:first-child {
	text-align: left;
	padding: 8px;
	padding: 10px;
	text-overflow: ellipsis;
	word-wrap: normal;
	white-space: nowrap;
	min-width: 180px;
	width: 100%;
	max-width: 70vw;
}

main table tr td.center-text {
	text-align: center;
}

main table tr.confirmbox {
	background-color: #FF4136 !important;
}

main table tr.confirmbox td {
	text-align: center;
	padding: 0;
}

main table tr.confirmbox td div {
	max-height: 0;
	padding: 0;
	transition: max-height 0.5s, padding 0.5s;
}

main table tr.confirmbox td div.open {
	animation: animateheight 0.5s;
	padding: 20px 0;
	max-height: 40px;
}

@keyframes animateheight {
	from {
		max-height: 0;
		padding: 0;
	}
	to {
		max-height: 40px;
		padding: 20px 0;
	}
}

main table tr td button {
	border: none;
	cursor: pointer;
	color: #0074D9;
	background-color: inherit;
	width: 100%;
	height: 100%;
}

main table tr.data-row td span.username {
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
	color: #0074D9;
}

main table tr.data-row td span.chall-category {
	display: block;
	color: #111;
	font-style: normal;
}

main table tr.data-row td span.chall-name {
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
	color: #0074D9;
}

main table tr.data-row td {
	font-style: italic;
	color: #999;
}

main table tr.confirmbox td div span[id^=confirm-] {
	display: none;
	font-weight: bold;
}

main table tr td button[id^=confirmbox-] {
	font-weight: bold;
	color: #2A3239;
}

main table tr td button[id^=confirmbox-]:hover {
	color: #0074D9;
}
