main > table {
	margin: auto;
}

table {
	border-spacing: 0;
	border-collapse: separate;
	width: 100%;
	max-width: 1000px;
	background-color: #EEE;
}

table tr.data-row:nth-child(even) {
	background-color: #DDD;
}

table td {
	text-align: center;
	overflow: hidden;
	width: 1%;
}

table td:first-child {
	text-align: left;
	padding: 8px;
	min-width: 180px;
	padding: 10px;
	text-overflow: ellipsis;
	word-wrap: normal;
	white-space: nowrap;
	min-width: 100%;
}

table tr td.center-text {
	text-align: center;
}

table tr.confirmbox {
	background-color: red;
}

table tr.confirmbox td {
	text-align: center;
	padding: 0;
}

table tr.confirmbox td div {
	max-height: 0;
	padding: 0;
	transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

td button {
	border: none;
	cursor: pointer;
	color: #0074D9;
	background-color: inherit;
	width: 100%;
	height: 100%;
}

table tr td span.username {
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
	color: #0074D9;
}

table tr.data-row td {
	font-style: italic;
	color: #999;
}

table tr.confirmbox td div span[id^=confirm-] {
	display: none;
	font-weight: bold;
}
